/* Styling for the Home Page */

/* Page container */
.home-page {
  padding: 20px;
  margin: auto;
  max-width: 1200px;
}

/* Heading styles */
.home-page h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #007bff;
}

/* Employee List styles */
.employee-list {
  margin-bottom: 20px;
}

.employee-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.employee-item span {
  margin-right: 10px;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Add/Edit Employee Form styles */
.add-edit-employee-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.add-edit-employee-form h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.submit-button,
.cancel-button {
  padding: 8px 15px;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
}

.cancel-button {
  background-color: #dc3545;
  color: #fff;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 150%;
  height: 100%;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #888;
  max-width: 400px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}
